.FrontPageMain {
    padding: 250px;
    transition: 0.3s;
}

.background {
    background-image: url(../images/bornholm.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.FrontPageMain ul {
    display: flex;
    justify-content: center;
    gap: 4rem;
}

.FrontPageMain ul li {
    justify-content: space-between;
    list-style: none;
}

.FrontPageMain ul li button {
    font-family: "Poppins", serif;
    font-weight: 500;
    font-size: 16px;
    background-color: #000000;
    color: #ffffff;
    border: none;
    margin-top: 32px;
    padding: 12px 42px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.FrontPageMain ul li button:hover {
    background-color: lightgray;
    color: #000000;
}

@media (min-width: 768px) {

}